* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.app__footer-item.active i {
  color: #555ebe !important;
}

.text-main-dark {
  color: #555ebe;
}

.text-main-light {
  color: #a78cd4;
}

.text-warning-light {
  color: #bc8e3f !important;
}

.text-success-light {
  color: #53ca76;
}

.text-white {
  color: #bdbdbd !important;
}

.btn:focus {
  box-shadow: none !important;
}

#app {
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 25%;
  border-radius: 13px;
}

.app__header-menu_icon i {
  cursor: pointer;
}

.app__header-options_item {
  cursor: pointer;
}

.app__header-options_item small {
  font-size: 12px;
}

.app__header-options_item_icon {
  background-color: #19181d;
  padding: 7px 10px;
  border-radius: 5px !important;
}

.app__header-options_item_icon i {
  font-size: 20px;
}

.app__content-container {
  max-height: 486px;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.app__content-container:hover {
  overflow-y: scroll;
}

.app__content-container::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
.app__content-container::-webkit-scrollbar-thumb {
  background-color: rgb(172, 172, 172);
  border-radius: 6px;
}

.app__content-mov {
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.app__content-mov:hover {
  background-color: #333333;
}

.app__content-mov_descripiton-img {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
}

.app__content-mov_descripiton-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.app__content-mov_descripiton-user {
  font-size: 14px;
}

.app__content-mov_price-entry {
  background-color: #232e20;
  height: fit-content;
  border-radius: 6px;
  padding: 3px 5px;
}

.app__content-mov_price-entry h5 {
  color: #2d7729 !important;
}

.app__content-mov_price-entry h5 span {
  color: #233e27 !important;
}

.app__footer-item {
  width: 100%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.app__footer-item:hover {
  background-color: rgb(172, 172, 172);
  cursor: pointer;
}

.app__footer-item:hover i {
  color: #555ebe !important;
}

/* styles for card screen */
.app__bruCard {
  height: 230px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-position: center;
  background-size: cover;
  border: 2px solid rgb(139, 139, 139);
  border-radius: 10px;
}

.app__bruCard_item {
  background: #1d1d1d;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.app__bruCard_item:hover {
  transform: scale(1.1);
}

/* styles for login */
.app__header-user {
  padding: 0 6rem;
}

.app__header-user_name {
  max-height: 70px;
  max-width: 70px;
  height: 100%;
  width: 100%;
}

.app__header-user_name img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.app__header-user_icon i {
  color: #5966cd;
}

.app__header-user_icon_password i {
  color: #2b234a;
}

.app__content-login_item {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.app__content-login_item:hover {
  background-color: rgb(172, 172, 172);
}

.description-mov .modal-content {
  background-color: #252525 !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.moda-body-user {
  max-height: 70px;
  max-width: 70px;
  width: 100%;
  height: 100%;
  display: flex;
}

.moda-body-user img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.modal-description-option {
  background-color: #252525;
  border: 1px solid #1b1a19;
  border-radius: 7px;
}

@media (max-width: 1200px) {
  #app {
    width: 40% !important;
  }
}

@media (max-width: 576px) {
  body {
    flex-direction: column;
    height: fit-content;
  }

  body > div {
    margin-bottom: 20px;
  }

  #app {
    width: 90% !important;
    height: 800px;
  }
}
